<!-- <div #envelope class="envelope"
  [class.open]="inviteOpened"
  [@pulseAnimation]="animationState"
  (mouseenter)="hoverInvite()"
  (mouseleave)="mouseleaveInvite()"
  (click)="openInvite()">

  <div class="letter"></div>
  <div class="front">
    <div class="fold-lines"></div>
  </div>
  <div class="flap">
    <div class="stamp">
      <div class="stamp-texture"></div>
    </div>
  </div>
</div> -->


<div class="container" [class.open]="inviteOpened">
  <div #envelope class="envelope" [class.open]="inviteOpened" (click)="openInvite()" [@pulseAnimation]="animationState">
    <div class="front">
      <div class="letter" [class.expand]="expandLetter"></div>
      <img src="assets/images/inferior.svg" class="inferior" />
    </div>
    <div class="flap">
      <div class="stamp">
        <div class="stamp-texture">
          <div class="lid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
