<div class="container" [class.open]="isSeloAberto">
  <div #envelope class="envelope" [class.open]="isSeloAberto"  [class.envelope--hide]="isFullScreen" (click)="openInvite()" [@pulseAnimation]="animationState">
    <div class="letter" [class.expand]="expandLetter">
      <img class="letter__image"src="assets/images/letter_nr.svg"/>
    </div>

    <div class="flap" [class.flap--opened]="isLetterOverFlap">
      <img class="flap__front-image" src="assets/images/envelope_fechado.svg" alt="">
    </div>
    <div class="stamp" [class.stamp--opened]="isSeloClicked">
      <div class="stamp-texture">
      </div>
    </div>
  </div>
  <div class="letter-full" [class.letter-full--fullscreen]="isFullScreen"  #letterFull>
    <div class="letter">
      <img class="letter__image" src="assets/images/letter_nr.png" usemap="#image-map"/>
      <map name="image-map">
        <area target="" alt="" title="" href="https://sites.icasei.com.br/nayaraereginaldo/home" coords="629,1570,447,1370" shape="rect">
        <area target="" alt="" title="" href="https://maps.app.goo.gl/rdKNQZAAGbcuy2xBA" coords="954,1574,719,1361" shape="rect">
      </map>
    </div>
  </div>
</div>

