.envelope {
  width: 228px;
  height: 350px;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  margin: 50px auto;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  &__cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--hide {
    opacity: 0;
  }
}

.flap {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  left: -4.5%;
  &__front-image {
    height:100%;
  }

  &--opened {
    // align-items: flex-end;
    z-index: -999999;
    .flap__front-image {
      z-index: 2;
    }
  }
}

.letter {
  transition: all 0.9s ease 1s;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__image {
    max-height: 100%;
    margin: auto;
  }
}


.letter-full {
  width: 228px;
  height: 350px;
  position: absolute;
  padding: 10px;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: -999;
  overflow: hidden;

  &--fullscreen {
    opacity: 1;
    transition: width 0.5s ease, height 0.5s ease;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    .flap {
      display: none;
    }
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.inferior {
  width: 109%;
  height: 109%;
  position: absolute;
  bottom: -20px;
  left: -10px;
}

.stamp {
  position: absolute;
  top: 50%;
  background-image: url("^assets/images/selo_fita.svg");
  background-size: cover;
  background-position: center;
  left: -4.5%;
  width: 110%;
  height: 60px;
  transform-origin: top;
  transition: top 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  &--opened {
    top: 110% ;
  }
}

.envelope.open .letter {
  // transform: translateY(-350px);
}

.envelope.open .letter.expand {
  transition: transform 0.8s ease-in-out 1s, top 1s ease-in-out 1s;
  transform: translateY(0);
  z-index: 4;
}

.envelope.open .flap {
  transform: rotateY(-180deg);
}


@media screen and (max-height: 700px) {
  .envelope {
    margin: 12px auto;
  }
}

.container.open {
  // align-items: end;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  // background-image: url("^assets/images/IMG_6020.JPG");
  background-color: #e9e0e5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
