@import './styles/base';

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
